.questionnaire{
    position: absolute;
    top: 10rem;
    right: 6rem;
    width: 20rem;
    text-align: left;

}

.questionnaire h2{
   font-weight: bold;
   font-size: 1.1em;
}

.questionnaire p{
    margin: 2rem 0;
    font-size: 1.2rem;
    color: #8b7360;
}

.questionnaire button{
    border: none;
    margin-right: 2px;
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 7rem;
    cursor: pointer;
}

.questionnaire .vrai{
    background-color: orange;
    color: #fdfdfd;
    font-weight: bold;
}

.questionnaire .vrai:hover{
    background-color: rgb(255, 182, 47);
}
.questionnaire .vrai:active{
    background-color: rgb(196, 127, 0);
}
.questionnaire .faux{
    background-color: rgb(233, 233, 233);
    color: #424242;
    font-weight: 600;
}

.questionnaire .faux:hover{
    background-color: rgb(245, 245, 245);
}
.questionnaire .faux:active{
    background-color: rgb(204, 204, 204);
}