html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
    background-color: rgb(253, 165, 0);
}

body>* {
    padding: 0 1em;
}
